<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-dark">

    <input class="inputCheckBox" type="checkbox" id="navcheck" role="button" title="menu">
    <label class="checkBoxLabel" for="navcheck" aria-hidden="true" title="menu">
        <span class="burger">
            <span class="bar">
                <span class="visuallyhidden">Menu</span>
            </span>
        </span>
    </label>
    <nav id="menu">
        <a href="#home">Pagina principala</a>
        <a href="#details">Detalii</a>
        <a href="#benefits">Beneficii.</a>
        <a href="#galery">Galerie Foto</a>
        <a href="#Contact">Contact</a>
    </nav>
    <main>
        <div id="home" class="home container-content content section">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row home-container">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 id="blink_effect" class="home-title">
                                Sweet
                            </h1>
                            <h1 class="home-title">
                                Studio
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row home-container ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <i class="fa fa-phone-square"></i>
                                <a href="tel:0787272532">Suna-ne 0787 272 532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div id="details" class="container content section">
            <article class="reveal">
                <p>Alege sa colaborezi cu Sweet Studio si iti vom oferi siguranta de care ai nevoie!</p>
                <p>Incercam sa fim mai mult decat un studio de videochat , iar impreuna cu noi ai mai mult decat un simplu
                job . </p>
                <p>Poti aplica fara niciun fel de obligatie din partea ta , ne comunici decizia cand te hotarasti . </p>
                <p>Te asteptam la interviu . Fara secrete , vorbim cat se poate de deschis si in detaliu . </p>
                <p>Tot timpul ai o echipa care te sustine . 
                Pe tot parcursul colaborarii o sa ai parte de training
                personalizat , pentru a avea niste rezultate exceptionale .</p>
                <p>Iti punem la dispozitie toate conditiile de care ai nevoie : camere in permanenta curate , design modern
                decorate cu bun gust , spatiu pentru make-up si toate facilitatile de care are nevoie un supermodel .</p>
                <p>
                Programul la Sweet Studio este impartit pe ture. Tura de dimineata, tura de pranz si tura de
                noapte.Numarul minim de ore online recomandate intr-un studio de videochat 6h / pe zi . </p>
            </article>
        </div>

        <div id="benefits" class="container content section">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 reveal">
                    <div class="container">
                        <div class="row benefits">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <p>Salariu atractiv, platile se fac in mod normal de doua ori pe luna, cu o posibilitate
                                    de
                                    avans.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 reveal">
                    <div class="container">
                        <div class="row benefits">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <p>Vrei sa iti faci o operatie estetica sau sa iti reimprospatezi look-ul? Te ajutam !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 reveal">
                    <div class="container">
                        <div class="row benefits">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <p>Sweet Studio iti ofere confidentialitate prin contracat,putand sa blocam si Romania
                                    pentru siguranta ta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 reveal">
                    <div class="container">
                        <div class="row benefits">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-check-circle-o"></i>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <p>Suport si training pe tot parcursul colaborarii cu noi! Suntem aici sa te ajutam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="galery" class="container content">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                    <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                        <img src="./images/1.jfif" alt="Image 1" class="w-100">

                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                    <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                        <img src="./images/2.jfif" alt="Image 1" class="w-100">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                    <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                        <img src="./images/3.jfif" alt="Image 1" class="w-100">

                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                    <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                        <img src="./images/4.jfif" alt="Image 1" class="w-100">

                    </div>
                </div>
            </div>
            <div id='loadMoreContainer' class="container space">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reveal">
                        <button id="loadMore" class="custom-button">Incarca mai mult</button>
                    </div>

                </div>
            </div>
            <div id="galeryMore" class="hidden">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/5.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/6.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/7.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/8.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/9.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/10.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/11.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/12.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/13.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/14.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/15.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/16.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/17.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/18.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom " style="cursor: pointer;">
                            <img src="./images/19.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8 reveal">
                        <div class="position-relative gallery-item img-custom" style="cursor: pointer;">
                            <img src="./images/20.jfif" alt="Image 1" class="w-100">

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reveal">
                            <button id="hideMore" class="custom-button">Ascundeti</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div id="Contact" class="container content space">
            <div class="row reveal">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <p class="contact-p">
                        Contacteaza-ne:
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="contact-p">Telefon: 0787 272 532</p>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                    <p class="contact-p">
                        Adresa mail: sweetstudio2024@gmail.com
                    </p>
                </div>
            </div>
            <div>
                <div class="container reveal space">
                    <p class="contact-p">
                        Formular
                    </p>
                </div>
                <div class="container space">
                </div>
            </div>
            <div class="row input-row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 reveal">
                    <div class="row">
                        <label class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Nume:</label>
                        <input id='FirstName' type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 custom-textArea"
                            placeholder="FirstName" aria-label="Nume">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 reveal">
                    <div class="row">
                        <label class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Prenume:</label>
                        <input id='LastName' type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 custom-textArea"
                            placeholder="LastName" aria-label="Prenume">
                    </div>
                </div>
            </div>

            <div class="row input-row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 reveal">
                    <div class="row">
                        <label class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Mail:</label>
                        <input id='Mail' type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 custom-textArea"
                            placeholder="Mail" aria-label="Mail">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 reveal">
                    <div class="row">
                        <label class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Telefon:</label>
                        <input id='Phone' type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 custom-textArea"
                            placeholder="Phone" aria-label="Telefon">
                    </div>
                </div>
            </div>

            <div class="row input-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 reveal">
                    <div class="row">
                        <label class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Detalii:</label>
                        <textarea id='Details' class="col-lg-8 col-md-8 col-sm-8 col-xs-8 custom-textArea" id="w3review"
                            name="w3review" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="row input-row reveal content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input id="submit" type="submit" value="Submit" class="custom-button">
            </div>
        </div>
        <div id="myPopup" class="container content hidden">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 popUpMessage">
                <a href="#myPopup" class="close" onclick='hidePopUp()'></a>
                <p id="textPopUp">Mail-ul a fost trimis cu succes</p>
            </div>
        </div>




    </main>
    <footer>
        <div class="footer content">
            <div class="row">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></li>
                </ul>
            </div>

            <div class="row">
                <ul>

                    <li><a href="tel:123-456-7890">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row Copyright">
                <p>INFERNO Copyright © 2024 Inferno - All rights reserved || Designed By: Aless </p>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js">
    </script>
    <script src="./jquery-3.7.1.js"></script>
    <script src="./code.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>